* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color:#ccc
}


.dice-container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.dice {
    width: 150px;
    height: 150px;
    background-color: white;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

.dice-dot {

    --top: 50%;
    --left: 50%;
    width: 20px;
    height: 20px;
    position: absolute;
    top: var(--top);
    left: var(--left);
    background-color: black;
    border-radius: 50%;
    transform:translateX(calc(var(--left)* -1)) translateY(calc(var(--top)* -1));
    
}


.roll{
    margin-top: 20px;
    width: 150px;
    padding: 10px;   
    background-color: cornflowerblue;
    border: 5px solid black;
    border-radius: 5px;
    font-weight: bold;
    font-size: large;
    cursor: pointer;

    
}

.reset{
    margin-top: 20px;
    width: 150px;
    padding: 10px;   
    background-color:darkorchid;
    border: 5px solid black;
    border-radius: 5px;
    font-weight: bold;
    font-size: large;
    cursor: pointer;

    
}